- HOTEL: ✅
- IS_CANCELED: To boolean  ✅
- LEAD_TIME: To int  ✅
- ARRIVAL_DATE_YEAR: To int  ✅
- ARRIVAL_DATE_MONTH: Change all values to 'Name' ✅
- ARRIVAL_DATE_WEEK_NUMBER: To int  ✅
- ARRIVAL_DATE_DAY_OF_MONTH: To int  ✅
- STAYS_IN_WEEKEND_NIGHTS: To int  ✅
- STAYS_IN_WEEK_NIGHTS: To int  ✅
- ADULTS: to int  ✅
- CHILDREN: To int  ✅
- BABIES: To int  ✅
- MEAL: SC?? Nan to Undefined ✅
- COUNTRY: ✅
- MARKET_SEGMENT: Nan to Undefined ✅
- DISTRIBUTION_CHANNEL: Nan to Undefined ✅
- IS_REPEATED_GUEST: To int  ✅
- PREVIOUS_CANCELLATIONS: To int  ✅
- PREVIOUS_BOOKINGS_NOT_CANCELED: To int  ✅
- RESERVED_ROOM_TYPE: ✅
- ASSIGNED_ROOM_TYPE: ✅
- BOOKING_CHANGES: To int  ✅
- AGENT: To int  ✅
- COMPANY: To int  ✅
- DAYS_IN_WAITING_LIST: To int  ✅
- CUSTOMER_TYPE: ✅
- ADR (Average daily rate): ❓ Numeros negativos!  ✅
- REQUIRED_CAR_PARKING_SPACES: To int  ✅
- TOTAL_OF_SPECIAL_REQUESTS: To int  ✅
- RESERVATION_STATUS: ✅
- RESERVATION_STATUS_DATE: To date ✅
- 0: ❓❓❓ Numeros random A ELIMINAR ✅

In [298]:
import pandas as pd
import warnings 
import datetime
import numpy as np
import seaborn as sns

warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [299]:
url_finanzas_original = 'https://raw.githubusercontent.com/nuriancg/project-da-promo-H-modulo-4-team-Hotel_CSI/master/finanzas-hotel-bookings.csv'
df = pd.read_csv(url_finanzas_original, index_col=0)

In [300]:
df.duplicated().sum()

63040

In [301]:
df.drop_duplicates(inplace=True)

In [302]:
df.shape

(119837, 32)

In [303]:
def to_abs(data, lista):
    for column in lista:
        data[column]=data[column].abs()

def to_int(data, lista):
    for column in lista:
        data[column]=data[column].round(0) 
        data[column]=data[column].astype('Int64')

def to_bool(data, lista):
    for column in lista:
        data[column]=data[column].astype(bool)

def to_date(data, lista):
    for column in lista:
        # Convertimos a string para que todas las fechas sean tratadas como cadenas
        data[column]=data[column].astype(str)
        # Normalizamos las fechas, agregando la hora por defecto
        data[column]=data[column].apply(lambda x: x if ' ' in x else x + '00:00:00')
        # Convertimos las fechas a datetime. Las fechas inválidas se convertiran a NaT
        # Manejamos los errores con el parametro errors='coerce' --> los valores invalidos o fuera de rango se convertiran a NaT
        data[column]=pd.to_datetime(data[column], errors='coerce')
        # Modificamos los nulos
        data[column]=data[column].fillna('NaT')

def to_undefined (data, lista):
    for column in lista:
        data[column]=data[column].replace(np.nan, 'Undefined')

In [304]:
to_abs(df, ['adr'])

lista_decimales=df.select_dtypes(include=['float']).columns.tolist()
to_int(df, lista_decimales)

to_bool(df, ['is_canceled'])

to_date(df, ['reservation_status_date'])

In [305]:
lista_col_to_undefined = ['market_segment','distribution_channel','country','market_segment','reservation_status','reserved_room_type','customer_type' ]
to_undefined(df, lista_col_to_undefined)

In [306]:
dict_meses={'1':'January',
           '2':'February',
           '3':'March'}

df['arrival_date_month']=df['arrival_date_month'].replace(dict_meses)

In [307]:
df.drop('0',axis=1, inplace=True)

In [308]:
for column in df.columns.tolist():
    print(column.upper(),':')
    print(df[column].dtype)
    if df[column].dtype == float or df[column].dtype == int:
        print('Max:', df[column].max()) 
        print('Min:', df[column].min())    
    print('Null:',df[column].isnull().sum())

    print('% nulos:',np.round((df[column].isnull().sum()/df.shape[0])*100,2))

    print(df[column].unique(),'\n')

HOTEL :
object
Null: 1832
% nulos: 1.53
['Resort Hotel' 'City Hotel' nan]

IS_CANCELED :
bool
Null: 0
% nulos: 0.0
[False  True]

LEAD_TIME :
Int64
Null: 1732
% nulos: 1.45
<IntegerArray>
[ 342,  737,    7,   13,   14,    0,    9,   85,   75,   23,
 ...
  504,  507,  458,  518,  521,  377,  444,  380,  463, <NA>]
Length: 480, dtype: Int64

ARRIVAL_DATE_YEAR :
Int64
Null: 55814
% nulos: 46.57
<IntegerArray>
[2015, <NA>, 2016, 2017]
Length: 4, dtype: Int64

ARRIVAL_DATE_MONTH :
object
Null: 1832
% nulos: 1.53
['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June' nan]

ARRIVAL_DATE_WEEK_NUMBER :
Int64
Null: 20170
% nulos: 16.83
<IntegerArray>
[  27, <NA>,   28,   29,   30,   31,   32,   33,   34,   35,   36,   37,   38,
   39,   40,   41,   42,   43,   44,   45,   46,   47,   48,   49,   50,   51,
   52,   53,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
   12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,   23,   24,
   25,   26]
Length: 54, dtype: Int64

ARRIVAL_DATE_DAY_OF_MONTH :
Int64
Null: 1951
% nulos: 1.63
<IntegerArray>
[   1,    2, <NA>,    3,    4,    5,    6,    7,    8,    9,   10,   11,   12,
   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,   23,   24,   25,
   26,   27,   28,   29,   30,   31]
Length: 32, dtype: Int64

STAYS_IN_WEEKEND_NIGHTS :
Int64
Null: 1732
% nulos: 1.45
<IntegerArray>
[0, 1, 2, 4, 3, 6, 13, 8, 5, 7, 12, 9, 16, 18, 19, 10, 14, <NA>, 11, 17, 15,
 20]
Length: 22, dtype: Int64

STAYS_IN_WEEK_NIGHTS :
Int64
Null: 1732
% nulos: 1.45
<IntegerArray>
[   0,    1,    2,    3,    4,    5,   10,   11,    8,    6,    7,   15,    9,
   12,   33,   20,   14,   16,   21,   13,   30,   19,   24,   40,   22,   42,
   50,   25,   17,   32,   26,   18,   34,   35,   41, <NA>,   23]
Length: 37, dtype: Int64

ADULTS :
Int64
Null: 1804
% nulos: 1.51
<IntegerArray>
[   2,    1,   51,    3,   52,   53,   55,   57,   54,   59,    4,   58,   56,
   50,   26,   27,    0,   20,    6,    5,   10,   16,   19,   11,   13,   15,
   14,   12,   18,   17, <NA>]
Length: 31, dtype: Int64

CHILDREN :
Int64
Null: 51430
% nulos: 42.92
<IntegerArray>
[<NA>, 0, 1, 2, 10, 19, 3, 17, 11, 18, 13, 16, 14, 15, 12]
Length: 15, dtype: Int64

BABIES :
Int64
Null: 1801
% nulos: 1.5
<IntegerArray>
[0, 1, 18, 2, 17, 13, 15, 16, 12, 10, 11, 19, 9, 14, <NA>]
Length: 15, dtype: Int64

MEAL :
object
Null: 1832
% nulos: 1.53
['BB' 'FB' 'HB' 'SC' 'Undefined' nan]

COUNTRY :
object
Null: 0
% nulos: 0.0
['PRT' 'Undefined' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' 'ROU' 'NOR' 'OMN' 'ARG'
 'DEU' 'CHE' 'GRC' 'NLD' 'DNK' 'RUS' 'POL' 'AUS' 'EST' 'CZE' 'BRA' 'BEL'
 'CN' 'SWE' 'FIN' 'MOZ' 'SVN' 'MAR' 'ITA' 'UKR' 'SMR' 'LVA' 'PRI' 'CHL'
 'CHN' 'LTU' 'LUX' 'AUT' 'TUR' 'MEX' 'ZAF' 'AGO' 'ISR' 'IND' 'CYM' 'ZMB'
 'CPV' 'ZWE' 'DZA' 'KOR' 'HUN' 'ARE' 'TUN' 'JAM' 'ALB' 'HRV' 'HKG' 'AND'
 'GIB' 'URY' 'BLR' 'JEY' 'CYP' 'MDV' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL'
 'COL' 'SEN' 'GEO' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MYS' 'VEN' 'ARM' 'LKA'
 'CUB' 'CMR' 'IRN' 'BIH' 'NGA' 'COM' 'BGR' 'CIV' 'SRB' 'JOR' 'SYR' 'BDI'
 'SGP' 'KWT' 'PLW' 'QAT' 'SVK' 'SUR' 'MLT' 'MWI' 'MDG' 'ISL' 'JPN' 'CAF'
 'TGO' 'TWN' 'DJI' 'VNM' 'PER' 'EGY' 'SAU' 'KNA' 'ETH' 'ECU' 'IRQ' 'KHM'
 'MCO' 'BGD' 'TJK' 'NIC' 'GGY' 'BEN' 'VGB' 'CRI' 'TZA' 'GAB' 'MKD' 'TMP'
 'GLP' 'LIE' 'GNB' 'MAC' 'IMN' 'UMI' 'MYT' 'GHA' 'FRO' 'MMR' 'PAN' 'MUS'
 'LBY' 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'DMA' 'UGA' 'MNE' 'GTM' 'ASM'
 'KEN' 'NCL' 'STP' 'KIR' 'SDN' 'ATF' 'SLE' 'SLV' 'LAO']

MARKET_SEGMENT :
object
Null: 0
% nulos: 0.0
['Undefined' 'Corporate' 'Online TA' 'Direct' 'Offline TA/TO' 'Groups'
 'Complementary' 'Aviation']

DISTRIBUTION_CHANNEL :
object
Null: 0
% nulos: 0.0
['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']

IS_REPEATED_GUEST :
Int64
Null: 6844
% nulos: 5.71
<IntegerArray>
[0, <NA>, 1]
Length: 3, dtype: Int64

PREVIOUS_CANCELLATIONS :
Int64
Null: 44667
% nulos: 37.27
<IntegerArray>
[<NA>,    0,   14,   10,   19,   13,   17,    1,    2,    3,   26,   25,    4,
   24,   12,   16,    5,   11,   15,   18,   21,    6]
Length: 22, dtype: Int64

PREVIOUS_BOOKINGS_NOT_CANCELED :
Int64
Null: 1832
% nulos: 1.53
<IntegerArray>
[   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,   12,
   13,   14,   15,   16,   17,   18,   20,   21,   22,   23,   24,   25,   27,
   28,   29,   30,   19,   26,   31,   32,   33,   34,   35,   36,   37,   38,
   39,   40,   41,   42,   43,   44,   45,   46,   47,   48,   49,   50,   51,
   52,   53,   54,   55,   56,   57,   58,   59,   60,   61,   62,   63,   64,
   65,   66,   67,   68,   69,   70,   71,   72, <NA>]
Length: 74, dtype: Int64

RESERVED_ROOM_TYPE :
object
Null: 0
% nulos: 0.0
['C' 'Undefined' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']

ASSIGNED_ROOM_TYPE :
object
Null: 1832
% nulos: 1.53
['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K' nan]

BOOKING_CHANGES :
Int64
Null: 1811
% nulos: 1.51
<IntegerArray>
[   3,    4,    0,    1,    2,    5,   17,   18,    6,   14,   15,   10,   11,
    8,    7,   16,   19,   12,    9,   13,   20,   21, <NA>]
Length: 23, dtype: Int64

AGENT :
Int64
Null: 17982
% nulos: 15.01
<IntegerArray>
[<NA>,  304,  240,  303,   15,  241,    8,  250,  115,    5,
 ...
  444,  408,  461,  388,  453,  459,  474,  475,  480,  449]
Length: 334, dtype: Int64

COMPANY :
Int64
Null: 115988
% nulos: 96.79
<IntegerArray>
[<NA>,  110,  270,  240,  154,  144,  307,  268,   59,  204,
 ...
  478,  485,  483,  229,  486,  491,  245,  497,  439,  451]
Length: 311, dtype: Int64

DAYS_IN_WAITING_LIST :
Int64
Null: 1832
% nulos: 1.53
<IntegerArray>
[   0,   50,   47,   65,  122,   75,  101,  150,  125,   14,
 ...
   45,   19,   42,   72,   81,   92,   74,  167,   36, <NA>]
Length: 129, dtype: Int64

CUSTOMER_TYPE :
object
Null: 0
% nulos: 0.0
['Transient' 'Undefined' 'Contract' 'Transient-Party' 'Group']

ADR :
Int64
Null: 1832
% nulos: 1.53
<IntegerArray>
[   0,   75,   98,  107,  103,   82,  106,  123,  145,   97,
 ...
   15,    1, 5400,  333,  365,   17,  376,  452,  510, <NA>]
Length: 379, dtype: Int64

REQUIRED_CAR_PARKING_SPACES :
Int64
Null: 1832
% nulos: 1.53
<IntegerArray>
[0, 1, 2, 8, 3, <NA>]
Length: 6, dtype: Int64

TOTAL_OF_SPECIAL_REQUESTS :
Int64
Null: 1832
% nulos: 1.53
<IntegerArray>
[0, 1, 3, 2, 4, 5, <NA>]
Length: 7, dtype: Int64

RESERVATION_STATUS :
object
Null: 0
% nulos: 0.0
['Check-Out' 'Canceled' 'No-Show' 'Undefined']

RESERVATION_STATUS_DATE :
datetime64[ns]
Null: 14730
% nulos: 12.29
['2015-07-01T00:00:00.000000000' '2015-07-02T00:00:00.000000000'
 '2015-07-03T00:00:00.000000000' '2015-05-06T00:00:00.000000000'
 '2015-04-22T00:00:00.000000000' '2015-06-23T00:00:00.000000000'
 '2015-07-05T00:00:00.000000000'                           'NaT'
 '2015-07-07T00:00:00.000000000' '2015-07-08T00:00:00.000000000'
 '2015-05-11T00:00:00.000000000' '2015-07-15T00:00:00.000000000'
 '2015-07-16T00:00:00.000000000' '2015-05-29T00:00:00.000000000'
 '2015-05-19T00:00:00.000000000' '2015-06-19T00:00:00.000000000'
 '2015-07-06T00:00:00.000000000' '2015-05-23T00:00:00.000000000'
 '2015-05-18T00:00:00.000000000' '2015-07-09T00:00:00.000000000'
 '2015-06-02T00:00:00.000000000' '2015-07-04T00:00:00.000000000'
 '2015-06-29T00:00:00.000000000' '2015-06-16T00:00:00.000000000'
 '2015-06-18T00:00:00.000000000' '2015-06-12T00:00:00.000000000'
 '2015-06-09T00:00:00.000000000' '2015-05-26T00:00:00.000000000'
 '2015-07-11T00:00:00.000000000' '2015-07-12T00:00:00.000000000'
 '2015-07-13T00:00:00.000000000' '2015-07-17T00:00:00.000000000'
 '2015-04-15T00:00:00.000000000' '2015-05-13T00:00:00.000000000'
 '2015-07-10T00:00:00.000000000' '2015-05-20T00:00:00.000000000'
 '2015-05-12T00:00:00.000000000' '2015-07-14T00:00:00.000000000'
 '2015-06-17T00:00:00.000000000' '2015-05-01T00:00:00.000000000'
 '2015-07-19T00:00:00.000000000' '2015-06-03T00:00:00.000000000'
 '2015-06-26T00:00:00.000000000' '2015-05-14T00:00:00.000000000'
 '2015-07-20T00:00:00.000000000' '2015-05-07T00:00:00.000000000'
 '2015-05-28T00:00:00.000000000' '2015-04-13T00:00:00.000000000'
 '2015-03-25T00:00:00.000000000' '2015-07-21T00:00:00.000000000'
 '2015-06-27T00:00:00.000000000' '2015-07-18T00:00:00.000000000'
 '2015-07-23T00:00:00.000000000' '2015-06-08T00:00:00.000000000'
 '2015-03-05T00:00:00.000000000' '2015-06-22T00:00:00.000000000'
 '2015-04-24T00:00:00.000000000' '2015-07-22T00:00:00.000000000'
 '2015-05-27T00:00:00.000000000' '2015-04-06T00:00:00.000000000'
 '2015-04-11T00:00:00.000000000' '2015-07-25T00:00:00.000000000'
 '2015-07-28T00:00:00.000000000' '2015-07-29T00:00:00.000000000'
 '2015-07-24T00:00:00.000000000' '2015-06-30T00:00:00.000000000'
 '2015-06-24T00:00:00.000000000' '2015-07-27T00:00:00.000000000'
 '2015-04-29T00:00:00.000000000' '2015-06-04T00:00:00.000000000'
 '2015-06-11T00:00:00.000000000' '2015-06-01T00:00:00.000000000'
 '2015-07-26T00:00:00.000000000' '2015-08-01T00:00:00.000000000'
 '2015-08-02T00:00:00.000000000' '2015-06-15T00:00:00.000000000'
 '2015-04-23T00:00:00.000000000' '2015-07-30T00:00:00.000000000'
 '2015-07-31T00:00:00.000000000' '2015-06-05T00:00:00.000000000'
 '2015-05-25T00:00:00.000000000' '2015-08-03T00:00:00.000000000'
 '2015-04-17T00:00:00.000000000' '2015-08-04T00:00:00.000000000'
 '2015-08-06T00:00:00.000000000' '2015-05-15T00:00:00.000000000'
 '2015-06-25T00:00:00.000000000' '2015-05-09T00:00:00.000000000'
 '2015-03-17T00:00:00.000000000' '2015-05-22T00:00:00.000000000'
 '2015-08-07T00:00:00.000000000' '2015-04-04T00:00:00.000000000'
 '2015-08-05T00:00:00.000000000' '2015-08-08T00:00:00.000000000'
 '2015-08-10T00:00:00.000000000' '2015-05-04T00:00:00.000000000'
 '2015-06-06T00:00:00.000000000' '2015-08-09T00:00:00.000000000'
 '2015-08-15T00:00:00.000000000' '2015-08-11T00:00:00.000000000'
 '2015-03-28T00:00:00.000000000' '2015-08-14T00:00:00.000000000'
 '2015-08-12T00:00:00.000000000' '2015-08-16T00:00:00.000000000'
 '2015-08-21T00:00:00.000000000' '2015-08-13T00:00:00.000000000'
 '2015-08-17T00:00:00.000000000' '2015-04-20T00:00:00.000000000'
 '2015-08-18T00:00:00.000000000' '2015-08-23T00:00:00.000000000'
 '2015-08-22T00:00:00.000000000' '2015-08-19T00:00:00.000000000'
 '2015-08-20T00:00:00.000000000' '2015-08-29T00:00:00.000000000'
 '2015-03-31T00:00:00.000000000' '2015-05-30T00:00:00.000000000'
 '2015-08-25T00:00:00.000000000' '2015-08-24T00:00:00.000000000'
 '2015-03-24T00:00:00.000000000' '2015-05-21T00:00:00.000000000'
 '2015-08-28T00:00:00.000000000' '2015-08-26T00:00:00.000000000'
 '2015-08-27T00:00:00.000000000' '2015-08-30T00:00:00.000000000'
 '2015-08-31T00:00:00.000000000' '2015-09-06T00:00:00.000000000'
 '2015-09-03T00:00:00.000000000' '2015-09-04T00:00:00.000000000'
 '2015-09-02T00:00:00.000000000' '2015-09-01T00:00:00.000000000'
 '2015-09-05T00:00:00.000000000' '2015-06-20T00:00:00.000000000'
 '2015-09-07T00:00:00.000000000' '2015-09-10T00:00:00.000000000'
 '2015-09-11T00:00:00.000000000' '2015-09-08T00:00:00.000000000'
 '2015-09-09T00:00:00.000000000' '2015-09-13T00:00:00.000000000'
 '2015-09-15T00:00:00.000000000' '2015-04-10T00:00:00.000000000'
 '2015-01-02T00:00:00.000000000' '2014-11-18T00:00:00.000000000'
 '2015-09-12T00:00:00.000000000' '2015-09-17T00:00:00.000000000'
 '2015-09-14T00:00:00.000000000' '2015-04-07T00:00:00.000000000'
 '2015-09-19T00:00:00.000000000' '2015-09-16T00:00:00.000000000'
 '2015-09-20T00:00:00.000000000' '2015-01-18T00:00:00.000000000'
 '2015-10-23T00:00:00.000000000' '2015-01-22T00:00:00.000000000'
 '2015-01-01T00:00:00.000000000' '2015-09-22T00:00:00.000000000'
 '2015-09-24T00:00:00.000000000' '2015-09-18T00:00:00.000000000'
 '2015-09-21T00:00:00.000000000' '2015-09-25T00:00:00.000000000'
 '2015-09-27T00:00:00.000000000' '2015-09-28T00:00:00.000000000'
 '2015-10-12T00:00:00.000000000' '2015-06-13T00:00:00.000000000'
 '2015-09-29T00:00:00.000000000' '2015-09-23T00:00:00.000000000'
 '2015-10-01T00:00:00.000000000' '2015-09-26T00:00:00.000000000'
 '2015-04-18T00:00:00.000000000' '2015-09-30T00:00:00.000000000'
 '2015-10-02T00:00:00.000000000' '2015-10-04T00:00:00.000000000'
 '2015-10-08T00:00:00.000000000' '2015-10-03T00:00:00.000000000'
 '2015-10-09T00:00:00.000000000' '2015-10-11T00:00:00.000000000'
 '2015-10-05T00:00:00.000000000' '2015-10-10T00:00:00.000000000'
 '2015-10-06T00:00:00.000000000' '2015-10-07T00:00:00.000000000'
 '2015-10-14T00:00:00.000000000' '2015-10-15T00:00:00.000000000'
 '2015-10-18T00:00:00.000000000' '2015-10-13T00:00:00.000000000'
 '2015-10-20T00:00:00.000000000' '2015-10-19T00:00:00.000000000'
 '2015-10-31T00:00:00.000000000' '2015-10-16T00:00:00.000000000'
 '2015-10-21T00:00:00.000000000' '2015-10-22T00:00:00.000000000'
 '2015-10-17T00:00:00.000000000' '2015-10-24T00:00:00.000000000'
 '2015-10-25T00:00:00.000000000' '2015-10-28T00:00:00.000000000'
 '2015-10-27T00:00:00.000000000' '2015-10-26T00:00:00.000000000'
 '2015-10-30T00:00:00.000000000' '2015-11-05T00:00:00.000000000'
 '2015-10-29T00:00:00.000000000' '2015-11-03T00:00:00.000000000'
 '2015-11-07T00:00:00.000000000' '2015-11-04T00:00:00.000000000'
 '2015-11-01T00:00:00.000000000' '2015-11-17T00:00:00.000000000'
 '2015-11-02T00:00:00.000000000' '2015-11-06T00:00:00.000000000'
 '2015-11-08T00:00:00.000000000' '2015-11-09T00:00:00.000000000'
 '2015-11-10T00:00:00.000000000' '2015-11-15T00:00:00.000000000'
 '2015-11-16T00:00:00.000000000' '2015-11-11T00:00:00.000000000'
 '2015-11-12T00:00:00.000000000' '2015-11-14T00:00:00.000000000'
 '2015-11-13T00:00:00.000000000' '2015-11-18T00:00:00.000000000'
 '2015-11-22T00:00:00.000000000' '2015-11-21T00:00:00.000000000'
 '2015-11-20T00:00:00.000000000' '2015-11-24T00:00:00.000000000'
 '2015-11-25T00:00:00.000000000' '2015-11-23T00:00:00.000000000'
 '2015-11-28T00:00:00.000000000' '2015-11-26T00:00:00.000000000'
 '2015-11-19T00:00:00.000000000' '2015-11-27T00:00:00.000000000'
 '2015-11-29T00:00:00.000000000' '2015-12-04T00:00:00.000000000'
 '2015-12-01T00:00:00.000000000' '2015-12-06T00:00:00.000000000'
 '2015-12-08T00:00:00.000000000' '2015-12-02T00:00:00.000000000'
 '2015-12-03T00:00:00.000000000' '2015-12-31T00:00:00.000000000'
 '2015-12-05T00:00:00.000000000' '2015-12-10T00:00:00.000000000'
 '2015-12-17T00:00:00.000000000' '2015-11-30T00:00:00.000000000'
 '2015-12-12T00:00:00.000000000' '2015-12-07T00:00:00.000000000'
 '2015-12-13T00:00:00.000000000' '2015-12-15T00:00:00.000000000'
 '2015-12-16T00:00:00.000000000' '2015-12-19T00:00:00.000000000'
 '2015-12-18T00:00:00.000000000' '2015-12-26T00:00:00.000000000'
 '2015-12-27T00:00:00.000000000' '2016-01-05T00:00:00.000000000'
 '2015-12-22T00:00:00.000000000' '2015-12-24T00:00:00.000000000'
 '2015-12-29T00:00:00.000000000' '2015-12-20T00:00:00.000000000'
 '2015-12-23T00:00:00.000000000' '2015-12-30T00:00:00.000000000'
 '2016-01-02T00:00:00.000000000' '2016-01-01T00:00:00.000000000'
 '2015-12-28T00:00:00.000000000' '2015-12-25T00:00:00.000000000'
 '2016-01-03T00:00:00.000000000' '2016-01-04T00:00:00.000000000'
 '2016-01-11T00:00:00.000000000' '2016-01-07T00:00:00.000000000'
 '2015-12-21T00:00:00.000000000' '2016-01-09T00:00:00.000000000'
 '2016-01-10T00:00:00.000000000' '2016-01-08T00:00:00.000000000'
 '2016-01-06T00:00:00.000000000' '2016-01-12T00:00:00.000000000'
 '2016-01-13T00:00:00.000000000' '2016-01-23T00:00:00.000000000'
 '2016-01-15T00:00:00.000000000' '2016-01-16T00:00:00.000000000'
 '2016-01-17T00:00:00.000000000' '2016-01-19T00:00:00.000000000'
 '2016-01-18T00:00:00.000000000' '2016-01-21T00:00:00.000000000'
 '2016-01-24T00:00:00.000000000' '2016-01-22T00:00:00.000000000'
 '2016-01-29T00:00:00.000000000' '2016-01-27T00:00:00.000000000'
 '2016-01-25T00:00:00.000000000' '2016-03-08T00:00:00.000000000'
 '2016-01-26T00:00:00.000000000' '2016-01-20T00:00:00.000000000'
 '2016-01-30T00:00:00.000000000' '2016-02-01T00:00:00.000000000'
 '2016-02-08T00:00:00.000000000' '2016-02-07T00:00:00.000000000'
 '2016-01-28T00:00:00.000000000' '2016-02-05T00:00:00.000000000'
 '2016-02-03T00:00:00.000000000' '2016-02-09T00:00:00.000000000'
 '2016-02-13T00:00:00.000000000' '2016-02-10T00:00:00.000000000'
 '2016-02-02T00:00:00.000000000' '2016-02-04T00:00:00.000000000'
 '2016-02-12T00:00:00.000000000' '2016-02-11T00:00:00.000000000'
 '2016-02-16T00:00:00.000000000' '2016-02-14T00:00:00.000000000'
 '2015-12-11T00:00:00.000000000' '2016-02-20T00:00:00.000000000'
 '2016-02-15T00:00:00.000000000' '2016-02-06T00:00:00.000000000'
 '2016-01-14T00:00:00.000000000' '2016-02-17T00:00:00.000000000'
 '2016-02-21T00:00:00.000000000' '2016-02-24T00:00:00.000000000'
 '2016-02-25T00:00:00.000000000' '2016-02-19T00:00:00.000000000'
 '2016-02-18T00:00:00.000000000' '2016-02-26T00:00:00.000000000'
 '2016-02-23T00:00:00.000000000' '2016-03-05T00:00:00.000000000'
 '2016-02-22T00:00:00.000000000' '2016-02-27T00:00:00.000000000'
 '2016-03-03T00:00:00.000000000' '2016-03-24T00:00:00.000000000'
 '2016-02-29T00:00:00.000000000' '2016-03-01T00:00:00.000000000'
 '2016-03-02T00:00:00.000000000' '2016-03-30T00:00:00.000000000'
 '2016-03-04T00:00:00.000000000' '2016-03-07T00:00:00.000000000'
 '2016-03-14T00:00:00.000000000' '2016-03-21T00:00:00.000000000'
 '2016-03-09T00:00:00.000000000' '2016-03-12T00:00:00.000000000'
 '2016-03-22T00:00:00.000000000' '2016-03-10T00:00:00.000000000'
 '2016-03-11T00:00:00.000000000' '2016-03-20T00:00:00.000000000'
 '2016-03-15T00:00:00.000000000' '2016-03-17T00:00:00.000000000'
 '2016-03-16T00:00:00.000000000' '2016-03-19T00:00:00.000000000'
 '2016-03-27T00:00:00.000000000' '2016-03-18T00:00:00.000000000'
 '2016-03-26T00:00:00.000000000' '2016-03-31T00:00:00.000000000'
 '2016-03-28T00:00:00.000000000' '2016-03-29T00:00:00.000000000'
 '2016-04-01T00:00:00.000000000' '2016-03-23T00:00:00.000000000'
 '2016-04-02T00:00:00.000000000' '2016-03-25T00:00:00.000000000'
 '2016-03-13T00:00:00.000000000' '2016-04-04T00:00:00.000000000'
 '2016-04-03T00:00:00.000000000' '2016-04-05T00:00:00.000000000'
 '2016-04-08T00:00:00.000000000' '2016-04-06T00:00:00.000000000'
 '2016-04-09T00:00:00.000000000' '2016-04-12T00:00:00.000000000'
 '2016-04-16T00:00:00.000000000' '2016-04-17T00:00:00.000000000'
 '2016-04-14T00:00:00.000000000' '2016-04-18T00:00:00.000000000'
 '2016-04-21T00:00:00.000000000' '2016-04-19T00:00:00.000000000'
 '2016-04-20T00:00:00.000000000' '2016-04-10T00:00:00.000000000'
 '2016-04-13T00:00:00.000000000' '2016-04-11T00:00:00.000000000'
 '2016-04-07T00:00:00.000000000' '2016-04-15T00:00:00.000000000'
 '2016-04-22T00:00:00.000000000' '2016-04-23T00:00:00.000000000'
 '2016-04-26T00:00:00.000000000' '2016-04-28T00:00:00.000000000'
 '2016-04-24T00:00:00.000000000' '2016-04-25T00:00:00.000000000'
 '2016-04-29T00:00:00.000000000' '2016-04-30T00:00:00.000000000'
 '2016-05-10T00:00:00.000000000' '2016-04-27T00:00:00.000000000'
 '2016-05-02T00:00:00.000000000' '2016-05-07T00:00:00.000000000'
 '2016-05-08T00:00:00.000000000' '2016-05-12T00:00:00.000000000'
 '2016-05-01T00:00:00.000000000' '2016-05-04T00:00:00.000000000'
 '2016-05-06T00:00:00.000000000' '2016-05-03T00:00:00.000000000'
 '2016-05-09T00:00:00.000000000' '2016-05-05T00:00:00.000000000'
 '2016-05-13T00:00:00.000000000' '2016-05-14T00:00:00.000000000'
 '2016-05-18T00:00:00.000000000' '2016-05-19T00:00:00.000000000'
 '2016-05-15T00:00:00.000000000' '2016-05-16T00:00:00.000000000'
 '2016-05-11T00:00:00.000000000' '2016-05-21T00:00:00.000000000'
 '2016-05-22T00:00:00.000000000' '2016-05-20T00:00:00.000000000'
 '2016-05-24T00:00:00.000000000' '2016-05-26T00:00:00.000000000'
 '2016-05-23T00:00:00.000000000' '2016-05-27T00:00:00.000000000'
 '2016-05-17T00:00:00.000000000' '2016-05-25T00:00:00.000000000'
 '2016-05-29T00:00:00.000000000' '2016-05-28T00:00:00.000000000'
 '2016-05-30T00:00:00.000000000' '2016-05-31T00:00:00.000000000'
 '2016-06-01T00:00:00.000000000' '2016-06-03T00:00:00.000000000'
 '2016-06-08T00:00:00.000000000' '2016-06-02T00:00:00.000000000'
 '2016-06-05T00:00:00.000000000' '2016-06-06T00:00:00.000000000'
 '2016-06-13T00:00:00.000000000' '2016-06-07T00:00:00.000000000'
 '2016-06-10T00:00:00.000000000' '2016-06-11T00:00:00.000000000'

### Nulos:
- hotel: MODA ✅
- lead_time: MEDIANA ✅
- adults: MEDIANA ✅
- children: MEDIANA ✅
- babies: MEDIANA ✅
- meal: cambiar por SC ✅
- country: Undefined ✅
- market_segment: Undefined  ✅
- distribution_channel: MODA ✅
- is_repeated_guest: MODA ✅
- previous_cancellations: MEDIANA ✅
- previous_bookings_not_canceled: MEDIANA ✅
- reserved_room_type: Undefined  ✅
- assigned_room_type: MODA ✅
- booking_changes: MEDIANA ✅
- agent: MODA ✅
- days_in_waiting_list: MEDIANA ✅
- customer_type: Undefined  ✅
- adr: MEDIANA ✅
- required_car_parking_spaces: MEDIANA ✅
- total_of_special_requests: MEDIANA ✅
- reservation_status: rellenar con 'is_canceled' == True ✅

In [309]:
df_nulos = pd.DataFrame(np.round((df.isnull().sum()/df.shape[0])*100,2), columns=['% nulos'])
display(df_nulos[df_nulos['% nulos']>0])

                                % nulos
hotel                              1.53
lead_time                          1.45
arrival_date_year                 46.57
arrival_date_month                 1.53
arrival_date_week_number          16.83
arrival_date_day_of_month          1.63
stays_in_weekend_nights            1.45
stays_in_week_nights               1.45
adults                             1.51
children                          42.92
babies                             1.50
meal                               1.53
is_repeated_guest                  5.71
previous_cancellations            37.27
previous_bookings_not_canceled     1.53
assigned_room_type                 1.53
booking_changes                    1.51
agent                             15.01
company                           96.79
days_in_waiting_list               1.53
adr                                1.53
required_car_parking_spaces        1.53
total_of_special_requests          1.53
reservation_status_date           12.29

In [310]:
def to_moda(data, lista):
    for column in lista: 
        moda= data[column].mode()[0]
        data[column]=data[column].fillna(moda)

def to_mediana(data, lista):
    for column in lista: 
        data[column]=data[column].fillna(data[column].median().astype(int))

In [311]:
lista_col_to_moda = ['hotel','distribution_channel','is_repeated_guest','assigned_room_type','agent']
lista_col_to_mediana = ['lead_time','adults','children','babies','previous_cancellations','previous_bookings_not_canceled','booking_changes','days_in_waiting_list','adr','required_car_parking_spaces','total_of_special_requests']

to_moda(df, lista_col_to_moda)
to_mediana(df, lista_col_to_mediana)

In [312]:
dict_meal={np.nan:'SC',
           'Undefined':'SC'}

df['meal']=df['meal'].replace(dict_meal)

In [313]:
for index, row in df.iterrows():

    if row['reservation_status']=='Undefined' and row['is_canceled']==True:
        df.loc[index,'reservation_status']='Canceled'

In [314]:
df_nulos = pd.DataFrame(np.round((df.isnull().sum()/df.shape[0])*100,2), columns=['% nulos'])
display(df_nulos[df_nulos['% nulos']>0])

                           % nulos
arrival_date_year            46.57
arrival_date_month            1.53
arrival_date_week_number     16.83
arrival_date_day_of_month     1.63
stays_in_weekend_nights       1.45
stays_in_week_nights          1.45
company                      96.79
reservation_status_date      12.29

In [315]:
df.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
105776,City Hotel,False,73,<NA>,February,7,12,2,1,2,0,0,BB,Undefined,Offline TA/TO,TA/TO,0,0,0,A,A,0,85,<NA>,0,Transient,72,0,0,Check-Out,2017-02-15
16402,Resort Hotel,False,10,2015,August,35,24,1,3,2,0,0,BB,IRL,Undefined,Undefined,0,0,0,D,D,0,142,<NA>,0,Undefined,169,0,0,Check-Out,2015-08-28
13408,Resort Hotel,True,206,<NA>,August,33,14,1,2,2,1,0,BB,Undefined,Undefined,TA/TO,0,0,0,A,B,0,242,<NA>,0,Transient,177,0,2,Canceled,2017-08-14
79771,City Hotel,True,21,<NA>,November,<NA>,13,2,2,2,0,0,BB,PRT,Undefined,TA/TO,0,0,0,Undefined,D,0,9,<NA>,0,Undefined,82,0,1,Canceled,2015-11-04
85088,City Hotel,False,7,2016,March,11,7,1,1,2,0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,9,<NA>,0,Transient-Party,103,0,1,Check-Out,2016-03-09

In [318]:
#url_finanzas_limpio = 'https://raw.githubusercontent.com/nuriancg/project-da-promo-H-modulo-4-team-Hotel_CSI/master/finanzas_hotel_bookings_limpio.csv'
df.to_csv('finanzas_hotel_bookings_limpio.csv',index=False)